PORT=3000
STAFF_PUBLIC_URL=http://127.0.0.1:3000
STAFF_DISCORD_CLIENT_ID=your_staff_discord_client_id
STAFF_DISCORD_CLIENT_SECRET=your_staff_discord_client_secret
STAFF_DISCORD_GUILD_ID=your_staff_discord_server_id
STAFF_ALLOWED_ROLE_IDS=role_id_for_staff_access
STAFF_ADMIN_ROLE_IDS=
STAFF_DISCORD_BOT_TOKEN=your_staff_bot_token
STAFF_TEAM_ROLE_STAFF=1518271385921917178
STAFF_TEAM_ROLE_HOGEROP=1502448648930459792
STAFF_TEAM_ROLE_BESTUUR=1502448643041661088
STAFF_TEAM_ROLE_BEHEER=1502448635709751457
STAFF_TEAM_ROLE_EIGENAAR=1502448623252930601
STAFF_DATA_DIR=./data
